<div class="table-wrapper" *ngIf="dataSource">
  <mat-toolbar color="primary" class="table-header">
    <span>Online Dev Tools - Link Collection</span>
    <span class="spacer"></span>
    <div class="toolbar-input">
      <input matInput [ngModel]="filterValue" (keyup)="applyFilter($event)" placeholder="Search" #input>
    </div>
    <span class="spacer"></span>
  </mat-toolbar>
  <div class="table-content">
    <table mat-table [dataSource]="dataSource" class=" mat-elevation-z8">




      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
          <div class="preview-wrapper">
            <div class="preview-image">
              <a href="{{element.url}}" target="_blank">
                <img [src]="element.image"/>
              </a>

            </div>
            <div class="preview-text">
              <b>{{element.name}}</b><br>
              <i>{{element.description}}</i><br>
              <a href="{{element.url}}" target="_blank">{{element.url}}</a>
            </div>
          </div>

        </td>
      </ng-container>


      <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No tools matching the search "{{input.value}}"</td>
      </tr>
    </table>
  </div>
  <mat-toolbar color="secondary" class="table-footer">
    <span>
      © 2023 - Moritz Petzka - <a href="https://petzka.com" target="_blank">https://petzka.com</a>
    </span>
    <span class="spacer"></span>
  </mat-toolbar>
</div>



